body {
  margin: 0;
}
header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  height: 150px;
}

.headerImage img {
  height: 400px;
  width: 100%;
  position: relative;
}

.headerTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.headerTitle h1 {
  margin: 90px 0 0 0;
  text-align: center;
  color: white;
  letter-spacing: 20px;
  font-size: 200px;
}

nav {
  background-color: red;
  margin-top: -5px;
  height: 70px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  float: left;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
}

.cfx::before, .cfx::after {
    display: block;
    line-height: 0;
    content: "";
}

.cfx::after {
    clear: both;
}
