@font-face {
  font-family: 'Antwerpen-Regular';
  src: url('Antwerpen webfonts/Antwerpen Regular webfonts/Antwerpen-Regular.ttf');
  font-weight: normal;
}

*{
  font-family:'Antwerpen-Regular';
}
body {
  margin: 0;
}

.wrapper {
  width: 70%;
  margin: auto;
}

/******************************
 *          header            *
 ******************************/


 header {
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
 }

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  height: 150px;
}

.headerImage img {
  height: 400px;
  width: 100%;
  position: relative;
}

.headerTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.headerTitle h1 {
  margin: 90px 0 0 0;
  text-align: center;
  color: white;
  letter-spacing: 20px;
  font-size: 200px;
}

#navbar-line{
  height: 20px;
  width: 100%;
  margin: 0;
  margin-top: -5px;
  background-color: #cf0039;
  border-bottom: 5px solid #a70636;
}

nav {
  background-color: #cf0039;
  height: 80px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

nav li {
  float: left;
  display: block;
  height: 70px;
  width: 16%;
  font-size: 30px;
}

nav ul:first-child{
  margin-left: 25%;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  height: 70px;
  margin: 12% 0;
  color: white;
}

nav li:nth-child(2) a{
  margin-top: 3%;
}

.current_tab img{
  width: 258px;
  margin-top: -57px;
}


/******************************
 *           footer           *
 ******************************/

footer {
  height: 100px;
  background-color: blue; 
}


 /******************************
  *          clearfix          *
  ******************************/

.cfx::before, .cfx::after {
    display: block;
    line-height: 0;
    content: "";
}

.cfx::after {
    clear: both;
}
