@font-face {
  font-family: 'Antwerpen-Regular';
  src: url('Antwerpen webfonts/Antwerpen Regular webfonts/Antwerpen-Regular.ttf');
  font-weight: normal;
}

*{
  font-family:'Antwerpen-Regular';
}
body {
  margin: 0;
}

.wrapper {
  width: 70%;
  margin: auto;
}

/******************************
 *          header            *
 ******************************/


 header {
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
 }

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  height: 150px;
}

.headerImage img {
  height: 400px;
  width: 100%;
  position: relative;
}

.headerTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.headerTitle h1 {
  margin: 90px 0 0 0;
  text-align: center;
  color: white;
  letter-spacing: 20px;
  font-size: 200px;
}

#navbar-line{
  height: 20px;
  width: 100%;
  margin: 0;
  margin-top: -5px;
  background-color: #cf0039;
  border-bottom: 5px solid #a70636;
}

nav {
  background-color: #cf0039;
  height: 80px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

nav li {
  float: left;
  display: block;
  height: 70px;
  width: 16%;
  font-size: 30px;
}

nav ul:first-child{
  margin-left: 25%;
}

#header nav li a {
  text-decoration: none;
  display: inline-block;
  height: 70px;
  margin: 12% 0;
  color: white;
}

#header nav li:nth-child(2) a{
  margin-top: 3%;
}

#header nav li:nth-child(4) a{
  margin-top: 3%;
}

/******************************
 *           Active Tab           *
 ******************************/


.CRNT_TAB{
  width: 798px;
  height: 110px;
  overflow: hidden;
  margin-left: 430px;
}

.CRNT_TAB img{
  width: 100px;
  height: auto;
  transition: transform 0.2s ease-in-out; 
}

.CRNT_TAB img:hover{
  transform: translate3d(0px, -100px, 0px);
}

.cfx li img:hover{
  display: inline;
}

/******************************
 *        subnavigatie        *
 ******************************/

 .sidenav {
     width: 400px;
     float: left;
 }

 .sidenav a {
     padding: 4% 5% 4% 10%;
     text-decoration: none;
     font-size: 25px;
     color: #292929;
     display: block;
     border-top: solid #292929 2px;
 }

 .sidenav a:last-child{
   border-bottom: solid #292929 2px;
 }

 .sidenav a:hover, .sidenav .current {
     color: #a70636;
 }

.current{
  color: blue;
}
/******************************
*           aside            *
******************************/

 .aside {
   margin-top: 100px;
   width: 60%;
   margin-left: 35%;
   padding-bottom: 10px;
   color: #292929;
 }

 .aside h1{
   color: #a70636;
 }

 .content-split{
   border-top: solid #292929 2px;
   padding-left: 5%;
   padding-right: 5%;
 }

 .content-split:last-child{
   border-bottom: solid #292929 2px;
 }

 .iframe-content{
   width: 720px;
   height: 405px;

 }

 .content-split a {
   padding-bottom: 3%;
 }

 .aside .content-split ul li {
   margin-bottom: 2%; 
 }


/******************************
 *           footer           *
 ******************************/

footer {
  margin-top: 20%;
  min-height: 400px;
  font-size: 1em;
  background-color: #282020;
  color: white;
}

footer ul{
  list-style: none;
}

footer div div{
  float: left;
  width: 33%;
  margin: 2% 0;
}

footer ul li{
  margin-top: 6%;
  margin-left: 5%;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: grey;
}

.button-footer{
  background-color: #0064b4;
  padding: 3.5%;
}

.button-footer:hover{
  opacity: 0.7;
}

.fa {
  padding: 15px;
  font-size: 25px;
  width: 20px;
  height: 20px;
  margin-right: 2%;
  text-align: center;
  text-decoration: none;
}
.fa:hover{
  opacity: 0.7;
}

.fa-facebook{
  background: #3B5998;
}
.fa-twitter{
  background: #55ACEE;
}
.fa-instagram{
  background: #3F729B;
}
.fa-linkedin{
  background: #0077B5;
}

 /******************************
  *          clearfix          *
  ******************************/

.cfx::before, .cfx::after {
    display: block;
    line-height: 0;
    content: "";
}

.cfx::after {
    clear: both;
}
